/* Open sans font from font-google.com */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
ul,
ol,
li {
  list-style: none;
}
a,
a:hover {
  text-decoration: none;
}
body {
  overflow-x: hidden;
}
.container {
  max-width: 1140px;
  width: 90%;
  margin: 0 auto;
}
.btn-primary, .btn-outline {
  padding: 20px 16px;
  border-radius: 5px;
  background: #fd6e0a;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn-outline{
  background-color: transparent;
  border: 1px solid #FD6E0A;
  color: #FD6E0A;
}
header {
  background: url(../images/developer.png), url(../images/header_bg.png),
    #fff8f3;
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
/* Navbar style start from here */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
  margin: 0 250px;
}
.logo {
  font-size: 44px;
  color: #181818;
  font-weight: 800;
  text-transform: capitalize;
}
.logo span {
  color: #fd6e0a;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-links a {
  display: block;
  text-transform: capitalize;
  color: #474747;
  font-size: 20px;
  font-weight: 400;
}
.nav-links button {
  border-radius: 5px;
  background-color: #fd6e0a;
  color: #fff8f3;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 40px;
  text-transform: capitalize;
  cursor: pointer;
  border: none;
}

/* Hero section styles start from here */
#hero-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 60px 0 250px;
}
.hero-content h2 {
  color: #474747;
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 6px;
}
.hero-content h1 {
  color: #181818;
  font-size: 86px;
  font-weight: 700;
  margin-bottom: 20px;
}
.hero-content p {
  width: 585px;
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
}
.btn-container{
  display: flex;
  gap: 30px;
}